.newcollections {
  /* display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
  margin-bottom: 100px;
  height: 70vh; */
}
.newcollections h1 {
  color: black;
  font-size: 30px;
  font-family: 500;
  text-align: center;
}
.newcollections hr {
  width: 200px;
  height: 4px;
  border-radius: 10px;
  background: #252525;
  margin: auto;
  margin-bottom: 30px;
}
.collections {
  margin-top: 50px;
  display: flex;
  gap: 30px;
  /* background-color: aqua; */
}
.collections {
  /* display: grid; */
  /* grid-template-columns: 1fr 1fr 1fr 1fr; */
  /* margin-top: 50px; */
  /* gap: 30px; */
  /* display: flex; */
  /* justify-content: space-around; */
  /* align-items: center; */
  /* margin: auto; */
  /* width: 90%; */

  margin-top: 70px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  width: 80%;
  /* margin-top: 20px; */
  margin-bottom: 100px;
  /* background-color: blanchedalmond; */
}

@media (max-width: 1280px) {
  .newcollections {
    /* height: 100vh; */
    /* background-color: aqua; */
  }
  .newcollections h1 {
    font-size: 35px;
    /* color: #b9a4a4; */
  }
  .newcollections hr {
    width: 150px;
    height: 3px;
  }
  .collections {
    /* background-color: blue; */
    width: 90%;
  }
}
@media (max-width: 1024px) {
  .newcollections {
    /* height: 100vh; */
    /* background-color: darkcyan; */
  }
  .newcollections h1 {
    font-size: 25px;
    /* color: #b9a4a4; */
  }
  .newcollections hr {
    width: 150px;
    height: 3px;
  }
  .collections {
    /* background-color: gray; */
    width: 80%;
    gap: 16px;
  }
}
@media (max-width: 800px) {
  .newcollections {
    /* height: 100vh; */
    /* background-color: rgb(48, 50, 50); */
  }
  .newcollections h1 {
    font-size: 25px;
    /* color: #b9a4a4; */
  }
  .newcollections hr {
    width: 150px;
    height: 2px;
  }
  .collections {
    /* background-color: rgb(240, 68, 68); */
    width: 90%;
    /* gap: 10px; */
  }
}
@media (max-width: 500px) {
  .newcollections {
    /* height: 100vh; */
    /* background-color: rgb(133, 217, 217); */
  }
  .newcollections h1 {
    font-size: 20px;
    /* color: #b9a4a4; */
  }
  .newcollections hr {
    width: 150px;
    /* height: 3px; */
  }
  .collections {
    /* background-color: rgb(38, 15, 15); */
    width: 100%;
    gap: 10px;
  }
}
